In [5]:
fork_csv = 'wonderland_fork.csv'
bond_csv = 'wonderland_bonds.csv'
treasury_csv = 'wonderland_treasury.csv'
fork = 'wonderland'

In [6]:
import pandas as pd
fork_df = pd.read_csv(f"./data/{fork}/{fork_csv}", columns=[''])
bond_df = pd.read_csv(f"./data/{fork}/{bond_csv}")
treasury_df = pd.read_csv(f"./data/{fork}/{treasury_csv}")

In [7]:
fork_df

,wonderland,3775251,1630620040,30000.606234124,7.507381608,4.547419269,723.9826492172851,69,0,28800,1.63062
0,wonderland,3804051,1630674348,31534.534723,22449.184991,4.547419,723.982649,70,90001818702,28800,1.630649
1,wonderland,3832851,1630737724,32934.560324,23327.711677,4.624071,723.982649,74,98508156503,28800,1.630764
2,wonderland,3861651,1630801803,33150.787895,24207.932235,4.662392,723.982649,76,99154898989,28800,1.630822
3,wonderland,3890451,1630873838,35253.487129,26136.474425,4.700349,723.982649,78,99750720777,28800,1.630879
4,wonderland,3919251,1630930275,35649.025490,26745.402592,4.737333,723.982649,80,106077742772,28800,1.630937
...,...,...,...,...,...,...,...,...,...,...,...
169,wonderland,8671251,1640383175,668029.361947,456419.324587,31.267908,723.982649,408,2713615505759,28800,1.640383
170,wonderland,8700051,1640441577,681664.420427,466123.254699,31.835849,723.982649,411,2880056352378,28800,1.640470
171,wonderland,8728851,1640500126,692390.520283,475882.200647,32.231393,723.982649,413,2996111283299,28800,1.640527
172,wonderland,8757651,1640558648,703240.751322,483059.396466,32.627935,723.982649,415,2898881426351,28800,1.640585
173,wonderland,8786451,1640616926,711609.498492,488459.711101,33.019682,723.982649,417,2932822497862,28800,1.640642

In [8]:
bond_df

,mim,4840851,1632601221,435000,False,0,170,0.1,1632597774,170.1,435000.1,75,1000000000000000,432000
0,mim,4869651,1632661843,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
1,mim,4898451,1632721656,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
2,mim,4927251,1632781248,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
3,mim,4956051,1632840916,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
4,mim,4984851,1632900975,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,mim,8671251,1640383175,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
133,mim,8700051,1640441577,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
134,mim,8728851,1640500126,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
135,mim,8757651,1640558648,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
136,mim,8786451,1640616926,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000

In [9]:
treasury_df

,magic-internet-money,3775251,1630620040,300972.83507335564,1.0028750627215208,300110.0
0,weth,3775251,1630620040,0.000000e+00,3790.194877,0.000000e+00
1,magic-internet-money,3804051,1630674348,4.984636e+05,1.002875,4.970346e+05
2,weth,3804051,1630674348,0.000000e+00,3790.194877,0.000000e+00
3,magic-internet-money,3832851,1630737724,4.985639e+05,1.002875,4.971346e+05
4,weth,3832851,1630737724,0.000000e+00,3790.194877,0.000000e+00
...,...,...,...,...,...,...
344,weth,8728851,1640500126,1.677681e+07,3790.194877,4.426370e+03
345,magic-internet-money,8757651,1640558648,3.127635e+07,1.002875,3.118669e+07
346,weth,8757651,1640558648,1.877037e+07,3790.194877,4.952348e+03
347,magic-internet-money,8786451,1640616926,3.287364e+07,1.002875,3.277939e+07
348,weth,8786451,1640616926,1.992743e+07,3790.194877,5.257627e+03

In [10]:
import math

last = fork_df.sort_values('timestamp').tail(1)
last.distribute = last.distribute
last.distribute

KeyError: 'timestamp'

In [14]:


reward = float(last.distribute)
rebase = reward / float(last.staked)
apy = math.pow(1 + rebase, 5 * 3) - 1
five_day = math.pow(1 + rebase, 365 * 3) - 1
(reward, rebase, apy, five_day)

OverflowError: math range error